trash/
obj/
bin32/
bin64/
lib32/
lib64/
Debug/
Release/
x64/
log/
.codelite/
*.vcxproj.user
*.suo
*.layout
*.sdf
*.opensdf
*.gch
*.project
*.workspace
waio10.sln
waio10.vcxproj
ldflags.mak
ldpath.mak
makeobjs.mak
backtrace.txt
